@use "../../layout/layout" as *;

.page__about {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.page__about-service {
  width: 100%;
  height: 400px;
  margin-top: 2rem;

  .service-item {
    width: 100%;
    max-width: 700px;
    height: 100%;
    background-color: $primary-color;
    /* border-radius: 1rem; */
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 0 2000px inset; //Background overlay

    .service-container {
      width: 100%;
      height: 100%;
    }

    .service-desc {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 1rem;
      height: 80%;
      width: 100%;

      div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $accent-color;
        margin-bottom: 1rem;

        @media screen and (min-width: 2000px) {
          width: 80px;
          height: 80px;
        }
      }

      h1 {
        font-size: 2.2rem;
        color: $white-color;
        margin-bottom: 2rem;
      }

      p {
        color: $white-color;
      }
    }
  }
}
