@use "../../layout/layout" as *;

#home {
  position: relative;
  background-color: $primary-color;
  background: url("../../images/herobg5.svg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;

  .page__wrapper {
    padding: 0;
  }
  .copyright {
    display: none;
  }
}

.page__hero {
  flex: 1;
  height: 100%;
  width: 100%;
  flex-direction: row;

  padding: 6rem 2rem 0rem;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.page__hero-intro {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex: 0.6;
  height: 100%;

  margin: 0 2rem;

  @media screen and (max-width: 1200px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.page__hero-badges {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;

  .badge-greeting,
  .badge-occupations {
    padding: 1rem 2rem;
    background: $white-color;
    border-radius: 0.9rem;
    width: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  .badge-occupations {
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    margin: 1.5rem 0 1.5rem 1rem;
  }

  .badge-greeting {
    margin-right: 1rem;

    span {
      font-size: 2.5rem;
      margin-right: 1rem;
    }
    div {
      h3 {
        font-size: 2.5rem;
        margin-left: 0.5rem;
      }
    }
  }
}

.page__hero-img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  position: relative;
  flex: 1;

  .hero-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 90%;
    max-width: 600px;
  }

  .hero-img {
    width: 100%;
    object-fit: contain;
    -o-object-fit: contain;
    z-index: 1;
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}

.page__hero-circles {
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex: 0.7;

  .hero-skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .hero-skills-circles {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $white-color;

    img {
      width: 80%;
      object-fit: contain;
    }

    &:first-child {
      margin-bottom: 2.5rem;
    }
    &:nth-child(2) {
      width: 70px;
      height: 70px;
    }
    &:last-child {
      width: 45px;
      height: 45px;
      margin-top: 2rem;
    }

    @media screen and (min-width: 2000px) {
      &:first-child {
        width: 300px;
        height: 300px;
      }

      &:nth-child(2) {
        width: 240px;
        height: 240px;
      }

      &:last-child {
        width: 150px;
        height: 150px;
      }
    }
  }

  a {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: $accent-color;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    color: $white-color;
    margin-top: 2rem;
    animation: pulse 3s ease-in-out infinite;

    @keyframes pulse {
      0% {
        scale: 1;
      }
      50% {
        scale: 0.9;
      }
      100% {
        scale: 1;
      }
    }

    @media screen and (min-width: 2000px) {
      width: 320px;
      height: 320px;
    }

    @media screen and (max-width: 1200px) {
      margin: 2rem 0;
    }
  }
}
