@use "../../layout/layout" as *;

.page__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(237, 242, 248, 0.18);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 100%;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  z-index: 5;

  @media screen and (max-width: 500px) {
    padding: 1rem 1.5rem;
  }
}

.page__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  img {
    width: 70px;
    height: 35px;

    @media screen and (min-width: 2000px) {
      width: 120px;
      height: 60px;
    }
  }
}

.page__navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  li {
    flex-direction: column;

    a {
      color: $light-gray;
      padding: 0 8px;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
    }

    div {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: transparent;
      transition: all 0.2s ease-in-out;
      margin-bottom: 2px;
    }

    &:hover {
      a {
        color: $accent-color;
        transition: all 0.2s ease-in-out;
      }

      div {
        background-color: $accent-color;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.page__navbar-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 32px;
  height: 25px;
  cursor: pointer;

  span {
    background-color: $light-gray;
    width: 100%;
    height: 2px;
    transform-origin: left;
    transition: all 0.8s ease;
  }

  &.active {
    span {
      &:first-child {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  @media screen and (min-width: 901px) {
    display: none;
  }
}

.page__navbar-menu {
  flex-direction: column;
  position: absolute;
  top: 100%;
  bottom: 0;
  right: -300px;
  height: 100vh;
  width: 300px;
  transition: all 0.7s ease;
  background-color: transparent;
  z-index: 5;

  &.active {
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);
    border-top: 1px solid rgba(237, 242, 248, 0.18);

    @media screen and (min-width: 901px) {
      display: none;
    }
  }

  li {
    padding: 1rem;
  }

  a {
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    color: $light-gray;

    &:hover {
      color: $accent-color;
      transition: all 0.2s ease-in-out;
    }
  }

  @media screen and (min-width: 901px) {
    display: none;
  }
}
