@use "../../layout/layout" as *;

.page__projects {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page__projects-container {
  width: 100%;
  flex-wrap: wrap;
}

.page__projects-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  flex-wrap: wrap;

  li {
    background-color: $primary-color;
    padding: 0.5rem 0.8rem;
    border-radius: 0.7rem;
    margin: 0.5rem 0.8rem;
    min-width: 70px;
    border: 1px solid $light-gray;
    color: $white-color;
    cursor: pointer;
  }

  @media screen and (max-width: 500px) {
    justify-content: flex-start;
  }
}

.page__projects-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  margin: 1.5rem 2rem;
  padding: 1rem;
  border: 1px solid $light-gray;
  border-radius: 0.7rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  transition: all 0.4s ease-in-out;

  .item-browser {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 45px;

    .item-browser-dots {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      div {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 0 0.4rem 0 0.5rem;
        background-color: $white-color;
      }
    }

    .item-browser-links {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        margin: 0 0.4rem;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid $light-gray;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $accent-color;
          border: 1px solid $accent-color;
        }
      }
    }
  }

  .item-imgContainer {
    width: 100%;

    .item-img {
      width: 100%;
      object-fit: contain;
      -o-object-fit: contain;
    }
  }

  .item-content {
    width: 100%;
    flex-direction: column;
    position: relative;

    .item-tag {
      padding: 0.5rem 1rem;
      background-color: $accent-color;
      position: absolute;
      top: -25px;
      border-radius: 0.7rem;

      p {
        color: $white-color;
      }
    }

    h3 {
      color: $white-color;
      margin-top: 1.5rem;

      @media screen and (min-width: 2000px) {
        margin-top: 3rem;
      }
    }
  }

  &:hover {
    border: 1px solid $accent-color;
  }

  @media screen and (min-width: 2000px) {
    max-width: 500px;
  }
}
