@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;800&display=swap");

$primary-color: #040510;
$secondary-color: #edf2f8;
$accent-color: #404bc9;
$gray-color: #6b7688;
$light-gray: #98a0ae;
$dark-gray: #5a6372;
$white-color: #fff;
$black-color: #000;
$font-base: "DM Sans", sans-serif;

//CSS RESET
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: $font-base;
  list-style: none;
  text-decoration: none;
}

//GLOBAL STYLES

.page {
  background-color: $primary-color;
  font-family: $font-base;
}

.page__primarybg {
  background-color: $primary-color;
}

.page__secondarybg {
  background-color: $secondary-color;
}

.page__container {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 100vh;
  width: 100%;
}

.page__wrapper {
  flex: 1;
  flex-direction: column;
  width: 100%;
  padding: 4rem 2rem;

  @media screen and (max-width: 500px) {
    padding: 4rem 1rem 2rem;
  }
}

.page__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-text,
.light,
.dark {
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.5;
  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.light {
  color: $light-gray;
}
.dark {
  color: $dark-gray;
}

.p-text {
  color: $gray-color;
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: $black-color;
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: $white-color;
  text-transform: capitalize;

  span {
    color: $accent-color;
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: $light-gray;
  }
}

.page__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $primary-color;
    margin: 0.25rem 0;
    border: 1px solid $light-gray;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      width: 20px;
      height: 20px;
      color: $light-gray;
    }

    &:hover {
      background-color: $accent-color;
      border-color: $accent-color;

      svg {
        color: $white-color;
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 35px;
        height: 35px;
      }
    }
  }
}

.page__social-mobileMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $primary-color;
    margin: 0.25rem 0.5rem;
    border: 1px solid $light-gray;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      width: 20px;
      height: 20px;
      color: $light-gray;
    }

    &:hover {
      background-color: $accent-color;
      border-color: $accent-color;

      svg {
        color: $white-color;
      }
    }
  }
}

.page__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  .page__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;
    cursor: pointer;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $accent-color;
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

.page__spinner {
  width: 100%;

  svg {
    animation: spin 1s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .page__navigation,
  .page__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}
